/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            global-quick-tap;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <36 37 38 39 40 41 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29>;
            quick-tap-ms = <175>;
        };
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            global-quick-tap;
            flavor = "balanced";
            hold-trigger-key-positions = <39 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41 38 37 36>;
            hold-trigger-on-release;
            quick-tap-ms = <175>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak-dh {
            bindings = <
   &kp GRAVE            &kp Q            &kp W              &kp F         &kp P      &kp B            &kp J         &kp L               &kp U             &kp Y          &kp SEMI  &kp INSERT
  &kp ESCAPE  &hml LEFT_GUI A  &hml LEFT_ALT R  &hml LEFT_SHIFT S  &hml LCTRL T      &kp G            &kp M  &hmr RCTRL N  &hmr RIGHT_SHIFT E  &hmr RIGHT_ALT I  &hmr RIGHT_GUI O     &kp SQT
&kp CAPSLOCK            &kp Z            &kp X              &kp C         &kp D      &kp V            &kp K         &kp H           &kp COMMA           &kp DOT          &kp FSLH     &kp DEL
                                                       &kp ESCAPE     &lt 2 TAB  &kp SPACE    &kp BACKSPACE   &lt 3 ENTER               &mo 4
            >;

            label = "CLMK";
        };

        qwerty-gaming {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
  &kp TAB  &kp Q  &kp W         &kp E         &kp R      &kp T     &kp Y   &kp U      &kp I    &kp O     &kp P  &trans
&kp LSHFT  &kp A  &kp S         &kp D         &kp F      &kp G     &kp H   &kp J      &kp K    &kp L  &kp SEMI  &trans
&kp LCTRL  &kp Z  &kp X         &kp C         &kp V      &kp B     &kp N   &kp M  &kp COMMA  &kp DOT  &kp FSLH  &trans
                         &kp LEFT_ALT  &lt 2 ESCAPE  &kp SPACE    &trans  &trans     &trans
            >;

            label = "GAME";
        };

        numbers {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5      &kp N6    &kp N7  &kp N8     &kp N9  &kp N0  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans    &trans  &trans     &trans  &trans  &trans
                        &trans  &trans  &trans      &trans    &trans  &trans
            >;

            label = "NUM";
        };

        symbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET   &kp AMPS  &kp KP_MULTIPLY  &kp LPAR  &kp RPAR     &trans
&trans    &trans  &trans    &trans    &trans     &trans    &kp MINUS  &kp EQUAL         &kp LBKT  &kp RBKT  &kp BSLH  &kp GRAVE
&trans    &trans  &trans    &trans    &trans     &trans    &kp UNDER   &kp PLUS         &kp LBRC  &kp RBRC  &kp PIPE  &kp TILDE
                            &trans    &trans     &trans       &trans     &trans           &trans
            >;

            label = "SYM";
        };

        function {
            bindings = <
&bt BT_CLR   &kp F1   &kp F2  &kp F3         &kp F4    &kp F5          &kp F6          &kp F7            &kp F8      &kp F9  &kp F10  &trans
&bt BT_NXT  &kp F11  &kp F12  &trans      &kp PG_UP  &kp HOME    &kp C_VOL_UP  &kp C_PREVIOUS  &kp C_PLAY_PAUSE  &kp C_NEXT   &trans  &trans
    &trans   &trans   &trans  &trans  &kp PAGE_DOWN   &kp END    &kp C_VOL_DN          &trans            &trans      &trans   &trans  &tog 1
                              &trans         &trans    &trans          &trans          &trans            &trans
            >;

            label = "FUN";
        };
    };
};
