/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <350>;
};

/ {
    combos {
        compatible = "zmk,combos";

        bluetooth {
            bindings = <&mo 3>;
            key-positions = <40 41>;
        };
    };

    behaviors {
        shift_lock: shift_lock {
            compatible = "zmk,behavior-tap-dance";
            label = "SHIFT_LOCK";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&caps_word>;
        };

        layer_1: layer_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_1";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&mo 1>, <&tog 1>;
        };

        layer_2: layer_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_2";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&mo 2>, <&tog 2>;
        };

        open_bracket: open_bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "OPEN_BRACKET";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_PARENTHESIS>,
                <&kp LEFT_BRACKET>,
                <&kp LEFT_BRACE>;
        };

        close_bracket: close_bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "CLOSE_BRACKET";
            #binding-cells = <0>;
            bindings =
                <&kp RIGHT_PARENTHESIS>,
                <&kp RIGHT_BRACKET>,
                <&kp RIGHT_BRACE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            label = "Base";
            bindings = <
&mt LG(TAB) TAB   &mt LG(Q) Q  &mt LG(W) W  &mt LG(E) E   &mt LG(R) R  &mt LG(T) T                    &mt LG(Y) Y          &mt LG(U) U  &mt LG(I) I          &mt LG(O) O            &mt LG(P) P                  &kp ESC
&kp LEFT_CONTROL  &mt LG(A) A  &mt LG(S) S  &mt LG(D) D   &mt LG(F) F  &mt LG(G) G                    &mt LG(H) H          &mt LG(J) J  &mt LG(K) K          &mt LG(L) L            &mt LG(SEMICOLON) SEMICOLON  &mt LG(SQT) SQT
&kp LEFT_GUI      &mt LG(Z) Z  &mt LG(X) X  &mt LG(C) C   &mt LG(V) V  &mt LG(B) B                    &mt LG(N) N          &mt LG(M) M  &mt LG(COMMA) COMMA  &mt LG(PERIOD) PERIOD  &mt LG(SLASH) SLASH          &mt LG(ENTER) ENTER
                                            &kp LEFT_ALT  &shift_lock  &mt LA(BACKSPACE) BACKSPACE    &mt LG(SPACE) SPACE  &layer_1     &layer_2
            >;
        };

        symbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Symbols";
            bindings = <
&trans  &kp EXCL   &kp AT                &kp HASH        &kp DLLR   &kp PRCNT           &kp CARET          &kp AMPS       &kp ASTERISK   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans  &kp GRAVE  &kp LS(LA(NUMBER_2))  &kp MINUS       &kp EQUAL  &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp BACKSLASH  &open_bracket  &close_bracket        &kp COLON              &kp DOUBLE_QUOTES
&trans  &kp TILDE  &kp LA(NUMBER_3)      &kp UNDERSCORE  &kp PLUS   &kp LEFT_BRACE      &kp RIGHT_BRACE    &kp PIPE       &kp LESS_THAN  &kp GREATER_THAN      &kp QUESTION           &trans
                                         &trans          &trans     &trans              &trans             &trans         &trans
            >;
        };

        numpad {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Numpad";
            bindings = <
&trans  &mt LG(NUMBER_1) NUMBER_1  &mt LG(NUMBER_2) NUMBER_2  &mt LG(NUMBER_3) NUMBER_3  &mt LG(NUMBER_4) NUMBER_4  &mt LG(NUMBER_5) NUMBER_5    &mt LG(NUMBER_6) NUMBER_6      &mt LG(NUMBER_7) NUMBER_7  &mt LG(NUMBER_8) NUMBER_8  &mt LG(NUMBER_9) NUMBER_9        &mt LG(NUMBER_0) NUMBER_0  &trans
&trans  &trans                     &trans                     &trans                     &trans                     &kp C_BRIGHTNESS_INC         &mt LA(LEFT_ARROW) LEFT_ARROW  &mt LA(DOWN_ARROW) DOWN    &mt LA(UP_ARROW) UP_ARROW  &mt LA(RIGHT_ARROW) RIGHT_ARROW  &kp SEMICOLON              &kp SQT
&trans  &trans                     &trans                     &trans                     &trans                     &kp C_BRIGHTNESS_DEC         &kp C_VOLUME_DOWN              &kp C_VOLUME_UP            &kp COMMA                  &kp PERIOD                       &kp SLASH                  &trans
                                                              &trans                     &trans                     &trans                       &trans                         &trans                     &trans
            >;
        };

        bluetooth {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none   &none   &none   &none  &bt BT_CLR  &trans
&trans  &none         &none         &none         &none         &none           &none   &none   &none   &none  &none       &none
&trans  &none         &none         &none         &none         &none           &none   &none   &none   &none  &none       &trans
                                    &trans        &trans        &trans          &trans  &trans  &trans
            >;

            label = "Bluetooth";
        };
    };
};
